<!-- <div class="p-2">

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#AddCoustomer">إضافة
    عميل</button>

</div> -->
<div class="">
  <table id="example2" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>#</th>
        <th>الاسم</th>
        <th>الهاتف</th>
        <th>ألاميل</th>
        <th>تعديل</th>
        <th>حذف</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Customers of Customerslist">
      <th style="width:5%">
        {{Customers.id}}
      </th>
      <td>{{Customers.name}}</td>
      <td>{{Customers.phone}}</td>
      <td>{{Customers.email}}</td>
      <td style="width:10%">
        <button class="btn btn-primary" data-toggle="modal" data-target="#EditCoustomer">تعديل</button>
      </td>
      <td style="width:10%">
        <button class="btn btn-primary" data-toggle="modal" data-target="#DeleteCoustomer">حذف</button>
      </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination  [(collectionSize)]="collectionSize" [(page)]="page" aria-label="Default pagination" (pageChange)=pagination($event) [maxSize]="7"></ngb-pagination>


  <!-- <ngb-pagination [pageSize]="initialPageSize" [collectionSize]="collection" [(page)]="page" (pageChange)="paging()"
        [rotate]="true" [maxSize]="7">
    </ngb-pagination> -->
</div>



<!-- Modal AddCoustomer -->
<div class="modal fade" id="AddCoustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">إضافة عميل</h5>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">الاسم</label>
            <input type="text" class="form-control" id="name" placeholder="الاسم بالكامل">
          </div>
          <div class="form-group">
            <label for="phone">الهاتف</label>
            <input type="text" class="form-control" id="phone" placeholder="012123456">
          </div>
          <div class="form-group">
            <label for="email">الاميل</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-primary">حفظ</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal EditCoustomer -->
<div class="modal fade" id="EditCoustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">تعديل البيانات</h5>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">الاسم</label>
            <input type="text" class="form-control" id="name" placeholder="الاسم بالكامل">
          </div>
          <div class="form-group">
            <label for="phone">الهاتف</label>
            <input type="text" class="form-control" id="phone" placeholder="012123456">
          </div>
          <div class="form-group">
            <label for="email">الاميل</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-primary">حفظ</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal DeleteCoustomer -->
<div class="modal fade" id="DeleteCoustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">حذف البيانات</h5>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        هل أنت متاكد من حذف البيانات
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">لا</button>
        <button type="button" class="btn btn-primary">نعم</button>
      </div>
    </div>
  </div>
</div>