<html dir="rtl">
  <div class="wrapper ">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active">تسجيل الدخول </h2>
      <h2 class="inactive underlineHover">تسجيل جديد</h2>
  
      <!-- Icon -->
      <div class=" ">
        <img src="assets/1.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input style="border: solid lightgray;" type="text" id="login" class="  text-right" name="login" placeholder="إسم المستخدم">
        <input style="border: solid lightgray;" type="text" id="password" class="  text-right" name="login" placeholder="الرمز السري">
        <input type="button" class="" value="تسجيل الدخول" routerLink="/Mainpage" >
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" style="font-weight: bold;" href="#">نسيت الرمز السري؟</a>
      </div>
  
    </div>
  </div>
</html>


